<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" style="padding-bottom: 300px">
                    <div class="row">
                        <div class="col-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <fieldset class="form-group text-center">
                                      <span class="text-danger">
                                        {{ imageError }}
                                      </span>
                                                <div class="custom-file fileInputProfileWrap">
                                                    <input
                                                            type="file"
                                                            (change)="fileChangeEvent($event)"
                                                            class="fileInputProfile"
                                                    />
                                                    <div class="img-space">
                                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                            <img [src]="cardImageBase64"/>
                                                        </ng-container>
                                                        <ng-template #elseTemplate>
                                                            <img
                                                                    [src]="imageDefault"
                                                                    class="img-responsive"
                                                            />
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <a
                                                class="btn btn-danger"
                                                (click)="removeImage()"
                                                *ngIf="isImageSaved"
                                        >Remove</a
                                        >
                                        <!--<img src="http://placehold.it/380x500" alt=""-->
                                        <!--class="img-rounded img-responsive"/>-->
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Họ Tên</label>
                                            <div class="col-4">
                                                <input placeholder="firstname" class="form-control"
                                                       [formControl]="userFormGroup.get('firstname')"/>
                                            </div>
                                            <div class="col-4">
                                                <input placeholder="lastname" class="form-control"
                                                       [formControl]="userFormGroup.get('lastname')"/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Email</label>
                                            <div class="col-8">
                                                <input placeholder="email" class="form-control"
                                                       [formControl]="userFormGroup.get('email')"/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Nick name</label>
                                            <div class="col-8">
                                                <input [readonly]="isUpdate" placeholder="username" class="form-control"
                                                       [formControl]="userFormGroup.get('username')"/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Địa Chỉ</label>
                                            <div class="col-8">
                                                <input placeholder="address" class="form-control"
                                                       [formControl]="userFormGroup.get('address')"/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Số điện thoại</label>
                                            <div class="col-8">
                                                <input placeholder="phone" class="form-control"
                                                       [formControl]="userFormGroup.get('phone')"/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-4 col-form-label">Quyền</label>
                                            <div class="col-8">
                                                <ng-multiselect-dropdown
                                                        [placeholder]="'Chọn Quyền'"
                                                        [data]="dropdownList"
                                                        [(ngModel)]="selectedItems"
                                                        [settings]="dropdownSettings"
                                                        (onSelect)="onItemSelect($event)"
                                                        (onSelectAll)="onSelectAll($event)"
                                                >
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="card-footer" style="text-align: right">
                                            <button
                                                    *ngIf="isSave()"
                                                    (click)="save()"
                                                    type="submit"
                                                    class="btn btn-sm btn-primary"
                                            >
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-danger">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
