.form-control {
  border-radius: 10px;
}

.row {
  padding: 0.25rem 0;
}

.btn{
  font-size: 1rem;
}

.tag-elements {
  font-size: 11px;
  display: inline-block;
  border: 1px solid #bbb;
  background-color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 10px;
  a{

  }
}
