<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12" *ngIf="couponFormGroup.get('isShow').value">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <input (focusout)="isCodeValidate()" [formControl]="couponFormGroup.get('code')" type="text"
                                   class="form-control">
                            <span *ngIf="couponFormGroup.get('code').invalid" class="text-danger">Mã chỉ chứa a-z, A-Z, 0-9 và có tối thiểu 3 ký tự tối đa 15</span>
                            <br>
                            <span *ngIf="validateCode" class="text-danger">Mã Trùng</span>
                        </div>

                        <div class="col-3">
                            <input type="text" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                                   [max]="couponFormGroup.get('endDate').value"
                                   placeholder="YYYY-MM-DD  hh:mm"
                                   class="form-control" name="field_startDate" id="field_startDateBegin"
                                   [formControl]="couponFormGroup.get('startDate')"/>
                            <owl-date-time #dt1></owl-date-time>
                            <span *ngIf="couponFormGroup.get('startDate').invalid" class="text-danger">Chưa nhập ngày</span>
                        </div>

                        <div class="col-3">
                            <input type="text" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                                   [min]="couponFormGroup.get('startDate').value"
                                   placeholder="YYYY-MM-DD hh:mm"
                                   class="form-control" name="field_startDate" id="field_startDateEnd"
                                   [formControl]="couponFormGroup.get('endDate')"/>
                            <owl-date-time #dt2></owl-date-time>
                            <span *ngIf="couponFormGroup.get('endDate').invalid" class="text-danger">Chưa nhập ngày</span>
                        </div>

                        <div class="col-2"><input [formControl]="couponFormGroup.get('total')" placeholder="amount" type="number"
                        class="form-control">
                        <span *ngIf="couponFormGroup.get('total').invalid" class="text-danger">Số lượng phải > 0</span>
                        <br><span class="text-info">Số lượng</span></div>
                        <div class="col-2"><input [formControl]="couponFormGroup.get('percent')" placeholder="percent" type="number"
                        class="form-control">
                        <span *ngIf="couponFormGroup.get('percent').invalid" class="text-danger">% phải > 0 và < 100</span>
                        <br><span class="text-info">Giảm theo %</span></div>

                        <div class="col-12 mt-3 text-right">
                            <div class="btn-group">
                                <button
                                        [disabled]="couponFormGroup.invalid"
                                        (click)="save(saveModal, couponFormGroup.value)"
                                        type="submit"
                                        class="btn btn-success btn-sm"
                                >
                                    <i class="icon-pencil"></i>
                                    <span class="d-none d-md-inline">{{
                    couponFormGroup.get("isUpdate").value ? "edit" : "add"
                  }}</span>
                                </button>
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="icon-trash"></i>
                                    <span
                                            (click)="couponFormGroup.get('isShow').setValue(false)"
                                            class="d-none d-md-inline"
                                    >cancel</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-globe"></i>Mã giảm giá
                    <span class="float-right">
            <button
                    (click)="addCoupon()"
                    [disabled]="!isAcction"
                    class="btn btn-block btn-primary"
            >
              Add
            </button></span
                    >
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-10">
              <span class="float-left pr-3" style="line-height: 33px"
              >Limit</span
              >
                            <select
                                    (change)="changeLimit()"
                                    [(ngModel)]="paging.limit"
                                    class="form-control float-left"
                                    style="max-width: 70px"
                                    [disabled]="!isAcction"
                            >
                                <option
                                        *ngFor="let limitElement of limits"
                                        value="{{ limitElement.value }}"
                                >{{ limitElement.label }}
                                </option
                                >
                            </select>
                        </div>
                        <div class="col-2 float-right">
                            <!--<div class="input-group " style="width: 100%">-->
                                <!--<input-->
                                        <!--[(ngModel)]="txtSearch"-->
                                        <!--type="text"-->
                                        <!--class="form-control"-->
                                        <!--placeholder="search"-->
                                <!--/>-->
                                <!--<div class="input-group-append">-->
                                    <!--<button-->
                                            <!--(click)="search()"-->
                                            <!--class="btn btn-dark"-->
                                            <!--type="button"-->
                                            <!--[disabled]="!isAcction"-->
                                    <!--&gt;-->
                                        <!--<i class="fa fa-search"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <table class="table table-bordered table-sort-icon">
                        <thead>
                        <tr>
                            <th class="text-center">
                                Mã
                            </th>

                            <th class="text-center">
                                Số lương
                            </th>
                            <th class="text-center">
                                Giảm giá
                            </th>
                            <th class="text-center">
                                Thơi hạn
                            </th>
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-center" style="width: 200px">
                                #
                            </th>
                        </tr>
                        </thead>
                        <ng-container *ngIf="coupons && coupons.length >= 0">
                            <tbody *ngFor="let coupon of coupons; let i = index">
                            <tr
                                    *ngIf="coupon"
                                    [style]="
                    coupon.id === couponFormGroup.get('id').value &&
                    couponFormGroup.get('isShow').value
                      ? 'background : #dbcc8f'
                      : ''
                  "
                            >
                                <!--name -->
                                <td>
                    <span>
                      {{ coupon.code }}
                    </span>
                                </td>

                                <td>
                                    <span *ngIf="coupon.total > 0">{{ coupon.total }}</span>
                                    <span class="bg-danger status-text" *ngIf="coupon.total <= 0">Hết</span>
                                </td>
                                <td>
                                    <span>{{ coupon.percent }}%</span>
                                </td>
                                <td>
                                    {{coupon.startDate | date:'short'}} đến <br> {{coupon.endDate | date:'short'}}
                                </td>

                                <td>
                                        <span class="bg-success status-text" *ngIf="coupon.statusDate == 0">Hoạt động</span>
                                        <span class="bg-danger status-text" *ngIf="coupon.statusDate < 0">Hết hạn</span>
                                        <span class="bg-warning status-text" *ngIf="coupon.statusDate > 0">Hàng đợi</span>
                                </td>

                                <!--acction-->
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button
                                                (click)="showEdit(coupon)"
                                                type="submit"
                                                class="btn btn-success btn-sm"
                                        >
                                            <i class="icon-pencil"></i>
                                            <span class="d-none d-md-inline">edit</span>
                                        </button>
                                        <button
                                                type="submit"
                                                (click)="remove(deleteModal, coupon)"
                                                class="btn btn-danger btn-sm"
                                        >
                                            <i class="icon-trash"></i>
                                            <span class="d-none d-md-inline">delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </ng-container>
                    </table>
                    <div class="row">
                        <div class="col-12">
              <span
                      *ngIf="coupons.length !== 0"
                      style="line-height: 33px"
                      class="float-left"
              >{{ pagingInfo(paging) }}
              </span>
                            <ngb-pagination
                                    *ngIf="coupons.length !== 0"
                                    class="float-right"
                                    [boundaryLinks]="true"
                                    [collectionSize]="paging.total"
                                    [pageSize]="paging.limit"
                                    [maxSize]="5"
                                    [rotate]="true"
                                    [(page)]="paging.page"
                                    (pageChange)="loadPage(paging.page)"
                            >
                            </ngb-pagination>
                            <div
                                    *ngIf="!coupons || coupons.length === 0"
                                    class="text-center"
                            >
                                <span>No Record</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-comfirm-delete-title">Delete</h4>
        <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Delete {{entitySelected.code}}
    </div>
    <div class="modal-footer">
        <button
                type="button"
                class="btn btn-danger"
                (click)="modal.close('delete')"
        >
            Delete
        </button>
        <button
                type="button"
                class="btn btn-secondary"
                (click)="modal.close('Close')"
        >
            Close
        </button>
    </div>
</ng-template>

<ng-template #saveModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-comfirm-save-title">Save</h4>
        <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        save {{entitySelected.code}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('save')">
            save
        </button>
        <button
                type="button"
                class="btn btn-secondary"
                (click)="modal.close('Close')"
        >
            close
        </button>
    </div>
</ng-template>
