<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="producerFormGroup.get('isShow').value">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <input
                [formControl]="producerFormGroup.get('name')"
                class="form-control"
                placeholder="name"
              />
              <span
                class="text-danger"
                *ngIf="producerFormGroup.get('name').invalid"
                >Name invalid</span
              >
            </div>
            <div class="col-12">
              <ckeditor
                [formControl]="producerFormGroup.get('description')"
              ></ckeditor>
              <!-- <input [formControl]="producerFormGroup.get('description')" class="form-control"
                                   placeholder="description"> -->
              <span
                class="text-danger"
                *ngIf="producerFormGroup.get('description').invalid"
                >Name invalid</span
              >
            </div>

            <div class="col-12 mt-3 text-right">
              <div class="btn-group">
                <button
                  [disabled]="producerFormGroup.invalid"
                  (click)="save(saveModal, producerFormGroup.value)"
                  type="submit"
                  class="btn btn-success btn-sm"
                >
                  <i class="icon-pencil"></i>
                  <span class="d-none d-md-inline">{{
                    producerFormGroup.get("isUpdate").value ? "edit" : "add"
                  }}</span>
                </button>
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="icon-trash"></i>
                  <span
                    (click)="producerFormGroup.get('isShow').setValue(false)"
                    class="d-none d-md-inline"
                    >hủy bỏ</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-globe"></i>Quản lý Nhà sản xuất
          <span class="float-right">
            <button
              (click)="addProducer()"
              [disabled]="!isAcction"
              class="btn btn-block btn-primary"
            >
              Add
            </button></span
          >
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-10">
              <span class="float-left pr-3" style="line-height: 33px"
                >Limit</span
              >
              <select
                (change)="changeLimit()"
                [(ngModel)]="paging.limit"
                class="form-control float-left"
                style="max-width: 70px"
                [disabled]="!isAcction"
              >
                <option
                  *ngFor="let limitElement of limits"
                  value="{{ limitElement.value }}"
                  >{{ limitElement.label }}</option
                >
              </select>
            </div>
            <div class="col-2 float-right">
              <!--<div class="input-group " style="width: 100%">-->
              <!--<input-->
              <!--[(ngModel)]="txtSearch"-->
              <!--type="text"-->
              <!--class="form-control"-->
              <!--placeholder="search"-->
              <!--/>-->
              <!--<div class="input-group-append">-->
              <!--<button-->
              <!--(click)="search()"-->
              <!--class="btn btn-dark"-->
              <!--type="button"-->
              <!--[disabled]="!isAcction"-->
              <!--&gt;-->
              <!--<i class="fa fa-search"></i>-->
              <!--</button>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <table class="table table-bordered table-sort-icon">
            <thead>
              <tr>
                <th class="text-center">
                  Name
                </th>

                <th class="text-center">
                  Mô tả
                </th>
                <th class="text-center" style="width: 200px">
                  #
                </th>
              </tr>
            </thead>
            <ng-container *ngIf="producers && producers.length >= 0">
              <tbody *ngFor="let producer of producers; let i = index">
                <tr
                  *ngIf="producer"
                  [style]="
                    producer.id === producerFormGroup.get('id').value &&
                    producerFormGroup.get('isShow').value
                      ? 'background : #dbcc8f'
                      : ''
                  "
                >
                  <!--name -->
                  <td>
                    <span>
                      {{ producer.name }}
                    </span>
                  </td>

                  <td>
                    <div [innerHTML]="producer.description"></div>
                  </td>

                  <!--acction-->
                  <td class="text-center">
                    <div class="btn-group">
                      <button
                        (click)="showEdit(producer)"
                        type="submit"
                        class="btn btn-success btn-sm"
                      >
                        <i class="icon-pencil"></i>
                        <span class="d-none d-md-inline">edit</span>
                      </button>
                      <button
                        type="submit"
                        (click)="remove(deleteModal, producer)"
                        class="btn btn-danger btn-sm"
                      >
                        <i class="icon-trash"></i>
                        <span class="d-none d-md-inline">xóa</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
          <div class="row">
            <div class="col-12">
              <span
                *ngIf="producers.length !== 0"
                style="line-height: 33px"
                class="float-left"
                >{{ pagingInfo(paging) }}
              </span>
              <ngb-pagination
                *ngIf="producers.length !== 0"
                class="float-right"
                [boundaryLinks]="true"
                [collectionSize]="paging.total"
                [pageSize]="paging.limit"
                [maxSize]="5"
                [rotate]="true"
                [(page)]="paging.page"
                (pageChange)="loadPage(paging.page)"
              >
              </ngb-pagination>
              <div
                *ngIf="!producers || producers.length === 0"
                class="text-center"
              >
                <span>No Record</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comfirm-delete-title">Xóa</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Delete {{entitySelected.name}}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('delete')"
    >
      Delete
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #saveModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comfirm-save-title">Save</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    save {{entitySelected.name}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('save')">
      save
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close')"
    >
      close
    </button>
  </div>
</ng-template>
