// Here you can add other styles
app-web{
  .sidebar{
    background: none !important;
    color: #23282c !important;
  }
  .ftco-animate{
    visibility: visible !important;
    opacity: unset;
  }
}
